body {
    background-color:burlywood;
}

.flex-container {
    display: flex;
    height: 95vh;
    align-items: center;
}

.flex-item {
    background-color: orangered;
    height: 125px;
    margin: 5px;
    padding: 45px;
}